[submodule "cassandra"]
	path = cassandra
	url = git://github.com/VinaTech/cassandra.git
	branch = cassandra-1.2
[submodule "titan"]
	path = titan
	url = git://github.com/VinaTech/titan.git
[submodule "faunus"]
	path = faunus
	url = git://github.com/VinaTech/faunus.git
[submodule "giraph"]
	path = giraph
	url = git://github.com/VinaTech/giraph.git
	branch = trunk
